@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.navbar {
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: lightpink;
    top: 0;
    left: 0;
}

.logo {
    flex: 1;
    text-align: left;
    font-size: 24px;
    margin-left: 10%;
    font-family: "Pacifico", sans-serif;
    color: white;
}

.menu {
    flex: 3;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover {
    color: white;
    border-top: 4px solid white;
    outline: none;
}

#botao {
    background-color: violet;
    padding: 10px 25px;
    color: white;
    border-radius: 7px;
    margin-right: 10px;
    margin-left: 5%;
    cursor: pointer;
}

#botao:hover {
    border: none;
    background-color: white;
    color: violet;
}

header {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    background-color: pink;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


.linha-cabecalho {
    flex: 4;
    margin-left: 10%;
 
}

.linha-cabecalho h2 {
    font-weight: 900;
    font-size: 20px;
    margin: 0;
    padding: 0;
    color: white;
}
.linha-cabecalho h1{
    color: white;
    font-size: 60px;
}

.linha-cabecalho p {
    text-align: left;
    color: white
}

.imgcabecalho {
    margin-right: 0.3%;
    flex: 5;
    text-align: center;
}

.botao-contato {
    background-color: lightpink;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.botao-contato:hover {
    background-color: white;
    color: lightpink;
}
